  *{
     direction: rtl;   
    }
    
    table{
        border-collapse: collapse;
        width:100%;
       
        margin: auto auto;
         margin-top: 0;
    }
 
    th{
        
        background-color:#4CAF50;
        color:white;
    }
    th,td{
        text-align: right;
        padding:12px;
       
    }
    
    
    td{
        text-align: right;
        padding-bottom:0;
                padding-top:3px;

    }
    tr{
        background-color: #f2f2f2;
        border-bottom: solid 1px grey;
         margin: 0;
    }
    
    
    
   